 /* this  file for side nav section */
 body {
    position: relative;
 }

 #snav {
    display: none;
    z-index: 2;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 70px;
    padding: 20px;
    height: 100%;
    width: 300px;
    background-color: #ffffff;
    border-right: .5px solid rgb(199, 199, 199);
 }

 .sdd {
    display: flex;
    align-items: center;
 }

 .sdd:hover{
   background: #0998ff27;
   border-radius: 0 20px 20px 0;
 }

 .sddActive{
   background: #0998ff27;
   border-radius: 0 20px 20px 0;
 }

 .sdd i {
    padding: 10px;
 }

 .sdd span{
   font-size: 16px;
 }